.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #0F0F0F;
}
.header-left {
  display: flex;
  align-items: center;
  color: #FFF;
}
.header-left .menu-icon {
  margin-right: 0.7rem;
}
.header-right {
  display: flex;
  align-items: center;
  color: #FFF;
  position: relative;
}
.header-right .cart-icon.container {
  margin-left: 0.5rem;
}
.header-right .cart-icon.container .globe {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0;
  font-size: 10px;
  font-weight: bolder;
  background-color: #0000A3;
  color: #FFF;
}
